<div *ngIf="form !== undefined && timeSlot.length!==0">
  <form
    class="jobContainer"
    *ngIf="job !== undefined"
    [formGroup]="form"
    (ngSubmit)="onSave()"
  >
    <div class="section">
      <div class="job">
        <div class="jobTitle">
          <div class="title">
            <p>{{ job.job_title }}</p>
          </div>
          <button class="applyBtn" type="submit" [disabled]="form.invalid">
            APPLY
          </button>
        </div>
        <div class="dateTimeVenue">
          <div class="dateTime">
            <p>Date & Time :</p>
          </div>
          <div class="dateVenue">
            <p>
              {{ job.start_date }} To {{ job.end_date }} |
              <span class="locationImage"
                ><img
                  src="https://static.vecteezy.com/system/resources/previews/000/552/683/non_2x/geo-location-pin-vector-icon.jpg"
                  alt="" /></span
              >&nbsp;<span>{{ job.location }}</span>
            </p>
          </div>
        </div>
        <hr />
        <div class="jobRoles">
          <div class="jobRoleName">
            <p>Job Roles :</p>
          </div>
          <div class="roleNames">
            <div class="roles" *ngFor="let jr of job.jobRoles">
              <img src="{{ jr.jobImage }}" alt="S" />
              <p>{{ jr.jobRoleName }}</p>
            </div>
          </div>
          <div class="mba" *ngIf="job.is_internship_opportunity_for_mca">
            <p>Internship Opportunity for MCA Students</p>
          </div>
        </div>
      </div>
      <div class="moreInfoBtn">
        <div class="info">
          <p>Pre-requisites & Application Process</p>
        </div>
        <div class="infoBtn" (click)="showMoreInfo()">
          <img
            src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png"
            *ngIf="!isArrowDown"
            alt=""
          />
          <img
            src="https://www.svgrepo.com/show/93813/up-arrow.svg"
            *ngIf="isArrowDown"
            alt=""
          />
        </div>
      </div>
      <div class="jobInfo" [ngClass]="{ jobToggle: !isArrowDown }">
        <div class="generalInfo">
          <p>General Instruction :</p>
           <p>
            {{job.general_Instructions}}
           </p>
        </div>
        <hr />
        <div class="infoForExam">
          <p>Instructions for the Exam :</p>
          <p>
            {{job.exam_Instructions}}
           </p>
        </div>
        <hr />
        <div class="minSysReq">
          <p>Minimum System Requirements :</p>
          <p>
            {{job.system_Requirements}}
           </p>
        </div>
        <hr />
        <div class="process">
          <p>process :</p>
          <p>
            {{job.process}}
           </p>
        </div>
      </div>
    </div>
    <div class="timeSlotPref">
      <div class="timeSlotPrefTitle">
        <p>Time Slots & Preferences</p>
      </div>
      <div class="timeSlot">
        <p>Select a Time Slot :</p>
        <p></p>
        <div class="inp" *ngFor="let item of timeSlot;let i=index">
          <input type="radio" [value]="i+1" formControlName="timeSlotID" />
          &nbsp;&nbsp;{{item[0] | date:'shortTime'}} to {{item[1] | date:'shortTime'}}
        </div>
      </div>
      <hr />
      <div class="pref">
        <p>Select Your Preference :</p>
        <div class="inp" *ngFor="let d of this.job.jobRoles">
          <input
            type="checkbox"
            name="roles"
            (change)="onCheckBox($event)"
            [value]="d.jobRoleName"
          />
          &nbsp;&nbsp;{{ d.jobRoleName }}
        </div>
      </div>
      <hr />
      <div class="resumeUpload">
        <div class="image">
          <img
            src="https://t4.ftcdn.net/jpg/01/64/16/59/360_F_164165971_ELxPPwdwHYEhg4vZ3F4Ej7OmZVzqq4Ov.jpg"
            alt=""
          />
        </div>
        <p>
          UPLOAD UPDATED RESUME
        </p>
        <input type="file" (change)="uploadResume($event)">
      </div>
    </div>
    <div
      class="jobDetails"
      *ngFor="let jobDetail of jobRoleDetails; let i = index"
      [ngClass]="{ setMargin: i >= 1 }"
    >
      <div class="moreInfoBtn">
        <div class="info">
          <p>{{ jobDetail.job_role_name }}</p>
        </div>
        <div class="infoBtn" (click)="showMoreInfoAboutJob(i)">
          <img
            src="https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png"
            *ngIf="!moreJobInfo[i]"
            alt=""
          />
          <img
            src="https://www.svgrepo.com/show/93813/up-arrow.svg"
            *ngIf="moreJobInfo[i]"
            alt=""
          />
        </div>
      </div>
      <div class="jobInfo" [ngClass]="{ jobInfoToggle: !moreJobInfo[i] }">
        <div class="generalInfo">
          <p>compensation package :</p>
          <p>Rs. {{jobDetail.package}} lpa</p>
        </div>
        <hr />
        <div class="roleDescription">
          <p>Role Description :</p>
          <p>
            {{jobDetail.job_role_description}}
          </p>
        </div>
        <hr />
        <div class="Requirements">
          <p>Requirements :</p>
          <p>
            {{jobDetail.job_role_requirement}}
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
