<div class="jobAppliedContainer">
  <div class="appliedDetails">
    <div class="checkImage">
        <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes-3/3/31-512.png" alt="">
    </div>
      <div class="appliedMsg">
          <p>
            Congratulations ! You have successfully applied for the walk-in opportunity
          </p>
      </div>
      <hr>
      <div class="dateTime">
        <div class="title">
            <p>
                Date & Time of Walk-In :
            </p>
        </div>
        <div class="date">
            <p>
              {{job.start_date | date:'dd'}}<span>{{dateOrdinal}}</span> {{job.start_date | date:'MMM'}}  {{job.start_date | date:'yyyy'}} 
            </p>
        </div>
        <div class="time">
            <p>
              {{timeSlot[+obj.timeSlotID-1][0] | date:'shortTime'}} To {{timeSlot[+obj.timeSlotID-1][1] | date:'shortTime' }}
            </p>
        </div>
      </div>
      <hr>
      <div class="address">
        <div class="title">
            Venue of Walk-In :
        </div>
        <div class="venue">
            Zeus Systems Pvt. Ltd. <br>
            1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg <br>
             Lower Parel (W) <br> Mumbai - 400 013 <br>
              Phone: +91-22-66600000
        </div>
      </div>
      <hr>
      <div class="thingsToRemember">
        <div class="title">
            <p>
                THINGS TO REMEMBER :
            </p>
        </div>
          <div class="points">
            <p>
                - Please report 30 MINUTES prior to your reporting time. <br>
                - Download your Hall Ticket from below and carry it with you during your Walk-In.
            </p>
          </div>
      </div>
      <hr>
      <div class="DownloadBtn">
         <button>
            DOWNLOAD HALL TICKET
         </button>
      </div>
  </div>
</div>
